/* Basic styling for demonstration purposes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    width: 35vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 17vw;
    padding: 10px;
    border: none;
    background-color:grey;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8.5vw;
}
button:hover {
    background-color:rgb(204, 86, 44);
}
#resetForm {
    margin-right: 1vw;
 }
 .reset-header {
margin-left:10vw;
}
.reset-para {
    margin-left:7vw;
    }

span{
    font-size: smaller;
    color: grey;
}
